/* Group block styles */

.wp-block-group__inner-container.block-editor-block-list__layout {
    border: 1px solid black;
    padding: 15px;
}

/* h tag styles styles */

h1, h2, h3, h4, h5, h6 {
    border: 1px solid gray;
    padding: 15px;
}

h1::before {
    content: none;
}

/* p styles */

.block-editor-rich-text__editable.block-editor-block-list__block.wp-block.wp-block-paragraph.rich-text {
    border: 1px solid gray;
    padding: 15px;
}

/* figure styles */

.wp-block-image {
    background: rgb(0,0,0, 0.1) !important;
}

/* video styles */

.wp-block-video video {
    max-width: 300px !important;
}

/* column styles */

.block-editor-block-list__block.wp-block.wp-block-columns {
    border: 1px solid gray;
    padding: 15px;
}  

.block-editor-block-list__block.wp-block.wp-block-column {
    border: 1px solid gray;
} 

@media only screen and (min-width: 768px) {

    .wp-block {
        width: 90%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
